 <div class="border-b border-gray-900/10 pb-12 mx-auto text-center mb-6">
   <h2 class="text-base font-semibold leading-7 text-gray-900"><%= title %></h2>
   <p class="mt-1 text-sm leading-6 text-gray-600"><%= tagline.html_safe %></p>
 </div>
